---
layout: default
title: Home
---

<div class="keywords">
{% include topic-keywords.html %}
</div>

<hr />

<h3>Demos in this portfolio</h3>
<ul class="posts">
  {% for post in site.posts %}

    <li itemscope>
      <a href="{{ site.github.url }}{{ post.url }}">{{ post.title }}</a>
    </li>

  {% endfor %}
</ul>

<hr />

{% for post in paginator.posts %}
<div class="posts">
  <h1>
    <a href="{{ site.github.url }}{{ post.url }}">{{ post.title }}</a>
  </h1>
  {% if post.image %}
  <div class="thumbnail-container">
    <a href="{{ site.github.url }}{{ post.url }}"><img src="{{ site.github.url }}/assets/img/{{ post.image }}"></a>
  </div>
  {% endif %}
  <p>
    {{ post.content | strip_html | truncate: 350 }} <a href="{{ site.github.url }}{{ post.url }}">Read more</a>
  </p>
</div>
{% endfor %}
